<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align: center">
  <h1 style="font-family:tahoma">HomeMe</h1>

  <%= form_with url: '/results', method: :get, local: true do |f| %>
  <%= f.text_field :search, placeholder: 'enter your zipcode' %>
  <%= f.button :search %>
  <% end %>
</body>
